http://:80 {
	encode zstd gzip

	header {
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
		Referrer-Policy "same-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	@api path /api*
	handle @api {
		reverse_proxy backend:8000 {
			header_up X-API-Key {$ASSET_TRACKER_API_TOKEN}
			header_up X-Forwarded-Proto http
		}
	}

	handle {
		reverse_proxy frontend:80
	}
}
